<nav class="navbar navbar-light navbar-expand-lg navbar-static-top"                  style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#">Sistema de Restaurantes</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" 
            routerLink="/">Home
          </a>
        </li>
        <li class="nav-item" 
            routerLinkActive="active">
          <a class="nav-link" 
             routerLink="/restaurants">Restaurantes</a>
        </li>
        <li class="nav-item" 
            routerLinkActive="active">
          <a class="nav-link" 
             routerLink="/dishes">Pratos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>