<app-search-restaurant></app-search-restaurant>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Restaurantes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td class="text-center">
        <button class="btn btn-link text-danger">
          <span class="oi oi-minus"></span>
        </button>
      </td>
      <td class="text-center">
        <button class="btn btn-link">
          <span class="oi oi-pencil"></span>
        </button>
      </td>
      <td>
        {{ restaurant.name }}
      </td>
    </tr>
  </tbody>
</table>
